{% extends 'all_projects/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3 about-me about-side text-center hidden-xs">
            <img src="/media/images/d89c433e9e4144be2714643b111c6892_yJ3KzlC.jpeg" width=200 class="profile-pic img-responsive center-block">
            <h1>Elizabeth Wanjiku Kimita</h1>
            <h2>Full Stack Developer</h2>
            <h3>Interests: </h3>

            <div class="text-center" style="margin:20px">
                <a href="#" class="cta-icon"><i class="devicon-twitter-plain colored"></i></a>
                <a href="#" class="cta-icon"><i class="devicon-github-plain colored"></i></a>
            </div>
        </div>
        
        <!-- loopin through the projects -->
    
        <div class="scroll">
        {% for project in projects %}
        <div class="col-sm-9 col-sm-offset-3">
            <div class="row work-item-row">
                <div class="col-sm-8 col-sm-offset-2 project">
                    <p>{{project.name}}</p>
                    <p>{{project.description}}</p>
                </div>
            </div>
        </div>
  
    {% empty %}
    <div class="row">
            <h2 class="text-center">There is no Image yet!</h2>
    </div>
        {% endfor %}
    </div>
</div>
<br>

<div class="well">
    <h1>Technologies</h1>
    <a href="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"></a>


</div>
</div>
{% endblock %}


