
<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top navbar-dark " style="background-color:teal">
        <a class="navbar-brand" href="">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">CV</a>
            </li>
      
          </ul>
    
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
                <p class="contact">Get in Touch:</p>
                <!-- Google +-->
                <a class="gplus-ic">
                    <i class="fas fa-envelope mr-3"></i> kimita.wanjiku@gmail.com</p>
                </a>
                <!-- Phone -->
                <a class="ins-ic">
                    <i class="fas fa-phone mr-3"></i> +254 726 047102</p>
                </a>

              </div>
      </nav>
    